/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: rgba(0,0,0,0.1);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.grouping:before,
.grouping:after {
	content: " ";
	display: table;
}
.grouping:after{
	clear: both;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
	font-size: 1.2em;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: rgb(40, 103, 165);
}
i{
	color: rgb(40,103,165);
}
/********************************** RESET DONE *****************************************/

form{
	width: 100%;
}

form span.left-col, form span.right-col{
	display: inline-block;
	min-width: 25%; 
	width: 25%;
	height: 100%;
}

p.heading{
	color: darkblue;
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 1em;
	
}

label {
	display: inline-block;
	margin-right: 5%;
	font-size: 1.5em;
	width: 15%;
}

inputfield {
	text-align: center;
	width: 100%; 
}

button.btn {
	color: white;
	background: #3366FF;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
	border: 0px;
	font-size: 2em;
	cursor: pointer;
	border: 1px solid #3366FF;
	margin-left: 45%;
}

button.btn:hover {
	color: #3366FF;
	background: white;
	border: 1px solid #3366FF;
}
