<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
	<title>Grieveance Redressal</title>
</head>
<body>
	<nav class="navigation">
	<p class="brand">GRIEVANCE REDRESSAL</p>
		<!-- Get code -->
	</nav>
	<div class="container">
		<nav class="tabs">
			<ul>
				<li >Lorem</li>
				<li class="active">Ipsum</li>
			</ul>	
		</nav>
		<br><br><br>
		<p class="heading1"> Status of Complaints</p>
		<ul class="grievances">
			<li class="grievance grouping">
				<div class="details">
					<p class="date">Dated : --/--/----</p><br>
					<p class="grievance-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis a fuga praesentium ipsum quos odit repudiandae dolores recusandae veniam consequatur!</p><br>
					<label>Categories: </label>
					<div class="categories">
						<span class="tag">lorem</span>
						<span class="tag">lorem ipsum</span>
						<span class="tag">ipsum</span>
					</div>
				</div>
				<div class="status">
					<p class="center">
						<br>
						<p><strong>PENDING</strong></p>
						<br>
						<button class="btn-go">Mark as <br> RESOLVED </button>
						<br>
					</p>
				</div>
			</li>
			<li class="grievance grouping">
				<div class="details">
					<p class="date">Dated : --/--/----</p><br>
					<p class="grievance-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ipsa incidunt porro sunt totam dicta consequuntur aut. Hic, eius, quia!</p><br>
					<label>Categories: </label>
					<div class="categories">
						<span class="tag">lorem</span>
						<span class="tag">lorem ipsum</span>
						<span class="tag">ipsum</span>
					</div>
				</div>
				<div class="status">
					<p class="center">
						<br>
						<p><strong>READ</strong></p>
						<br>
						<button class="btn-go">Mark as <br> RESOLVED </button>
						<br>
					</p>
				</div>
			</li>
			<li class="grievance grouping">
				<div class="details">
					<p class="date">Dated : --/--/----</p><br>
					<p class="grievance-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quia omnis nihil veritatis iste, nam laborum, labore vitae inventore itaque.</p><br>
					<span>Categories: </span>
					<div class="categories">
						<span class="tag">lorem</span>
						<span class="tag">lorem ipsum</span>
						<span class="tag">ipsum</span>
					</div>
				</div>
				<div class="status">
					<p class="center">
						<br>
						<p><strong>READ</strong></p>
						<br>
						<button class="btn-go">Mark as <br> RESOLVED </button>
						<br>
					</p>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>